[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflowobjectdetection = {editable = true, file = "file:///Users/sidram/VSCODEFILES/sign-language-detection-with-tfod2"}

[dev-packages]

[requires]
python_version = "3.10"
